.page-login {
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(180deg, #3A6B35 29.69%, rgba(46, 253, 45, 0.0677083) 83.61%, rgba(52, 185, 52, 0.0777392) 99.99%);
}

.page-login main {
  width: 21.875rem;
	height: 31.25rem;
	background: white;
	border-radius: .625rem;
	box-shadow: .3125rem 1.25rem 3.125rem #000;
}

.page-login img {
  padding: 0 2.5rem 0 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.page-login input{
	width: 60%;
	height: 2.5rem;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 1.25rem auto;
	padding: .625rem;
	border: none;
	outline: none;
	border-radius: .3125rem;
}

.page-login button{
	width: 60%;
	height: 2.5rem;
	margin: .625rem auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #008000;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 3.125rem;
	outline: none;
	border: none;
	border-radius: .3125rem;
	cursor: pointer;
}

.page-login button:hover{
	background: #015701;
}

.alert-login {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
  padding: .5rem 0;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}